:root {
  --var-fonttop: "League Spartan", sans-serif;
  --var-fontlabel: "Inter", sans serif;
  --transition: all 0.3s ease;
  --border-radius: 3rem;
  --fieldset-radius: 1rem;
  --azulClaro: #cae9ff;
  --azulEscuro: #184965;
  --azulClaro2: #396481;
  --azulEscuro2: #11334a;
}

.blurOverlay {
  position: fixed;
  top: 12%;
  left: 0;
  width: 100%;
  height: 88%;
  backdrop-filter: blur(3px);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.blurOverlay.ativo {
  opacity: 1;
  pointer-events: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.8) transparent;
  font-size: 0.9rem;
}

/* Para navegadores WebKit */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 1);
}

.container1 {
  width: 45% !important;
}

.center {
  width: 100%;
  height: 100%;
  background-color: #396481;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  overflow: auto;
  gap: 1rem;

  border-radius: 0.8rem;
}

.registro-blocos-apaertamentos {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.6rem;
}

.registro-blocos-apaertamentos > div {
  width: 50%;
}

.eventos-alugueis {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.6rem;
}
.eventos-alugueis > div {
  width: 50%;
}

.cadastro-funcionarios {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto;

  gap: 0.6rem;
}

.btnconfirmar {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}

.btnconfirmar button {
  background: var(--azulEscuro);
  border: 2px solid var(--azulEscuro2);
  color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 1.2rem;
  cursor: pointer;
  font-weight: 600;
  transition: var(--transition);
}

.btnconfirmar button:hover {
  transform: scale(1.02);
  box-shadow: 0 0 3px 5px #0000;
}

.btnconfirmar button:active {
  transform: scale(0.96);
}
