/* Body and layout */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/public/Img/fundo.png);
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  padding-top: 7vh;  /* igual à altura da .tópico */
}

/* Container principal */
.quadradodetras {
  width: 165vh;
  height: 80vh;
  background-color: #1b4965;
  border-radius: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quadradodafrente {
  background-color: #396481;
  width: 155vh; /* Reduzi um pouco para dar mais margem */
  height: 70vh;
  border-radius: 6vh;
  position: relative;
  padding: 2vh; /* Adicionei padding interno */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro {
  width: 100%;
  height: 100%;
  padding: 1vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  

}

.cadastrointeiro {
  width: 100%;
  height: 100%;
  
}

/* Header */
.tópico {
  background-color: #1b4965;
  height: 13vh;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  
  display: flex;             /* Faltava isso */
  justify-content: center;   /* Alinha no centro horizontalmente */
  align-items: center;       /* Alinha no centro verticalmente */
}

.toptxt {
  color: white;
  font-size: 1.5rem;           /* Tamanho da fonte, ajustável */
  font-family: 'Montserrat', sans-serif;
  font-weight: initial;
  
  margin: 0;                 /* Remove margens que bagunçam o alinhamento */
}

/* Formulário */
.formscadastro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Fieldsets */
fieldset {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 2vh;
  padding: 2vh;
  margin: 0;
  background-color: rgba(57, 100, 129, 0.7);

}

.fieldset-cadastro {
  width: 45vh;
  position: absolute;
  left: 5vh;
  top: 2vh;
  height: 65vh;
  
}

.fieldset-moradia {
  width: 45vh;
  position: absolute;
  left: 60vh;
  top: 2vh;
  
}

.fieldset-liberação {
  width: 45vh;
  position: absolute;
  left: 60vh;
  top: 32vh;
  height: auto;
  padding-bottom: 4vh;
}

.fieldset-horario {
  width: 35vh;
  position: absolute;
  left: 115vh;
  top: 2vh;
}

legend {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2.2vh;
  background-color: #1b4965;
  padding: 0.5vh 1.5vh;
  border-radius: 1vh;
  margin-left: -0.5vh;
}

/* Campos do formulário */
.campo-form {
  position: relative;
  margin-bottom: 2.5vh;
}

.campo-form label {
  display: block;
  font-size: 2vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 0.5vh;
}

.txt {
  width: 100%;
  height: 5vh;
  padding: 1.8vh 1.8vh 1.8vh 5vh;
  background-color: #396481;
  color: white;
  border: 2px solid white;
  border-radius: 8vh;
  box-sizing: border-box;
  font-size: 1.8vh;
  position: relative;
}

.txt:focus {
  outline: none;
  border-color: #CAE9FF;
}

.txt::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6vh;
}

/* Ícones */
.icones {
  font-size: 2vh;
  position: absolute;
  top: 1.5vh;
  left: 1.7vh;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
}

.bi-car-front-fill{
position: absolute;
bottom: 5vh;
z-index: 2;
left: 3.7vh;
}

.bi-clock-fill {
  position: absolute;
  left: 1.7vh;
  bottom: 1.4vh;
  z-index: 2;
  font-size: 2vh;
}

/* Seção de automóvel */
#txtplaca {
  display: none;
  height: 0;
  overflow: hidden;

}
.txtplaca {
  margin-top: 1.5vh;
  
}

.campo-btnrd label.lblnome1 {
  height: 7vh;
}
.lblnome1{
  color: white;
  font-family: 'montserrat', sans-serif;
  font-weight: bold;
  font-size: 2vh;
}

.quadradobtnrd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(202, 233, 255, 0.62);
  border-radius: 3vh;
  border: 1px solid rgb(0, 0, 0);
  padding: 2vh;
  gap: 1vh;
  margin-top: 1vh;
}

.custom-radio {
  flex: 0 0 49%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1vh;
}



.custom-checkbox input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.2vh;
  height: 2.2vh;
  background-color: #396481;
  border: 2px solid #396481;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: absolute;
  bottom: 7vh;
  left: 13vh;
    
}

.custom-checkbox input[type='checkbox']:checked {
  background-color: white;
}

.radio-btn {
  font-size: 1.8vh;
  font-weight: bold;
  color: #1b4965;
}

/* Menor de idade */
.quadradobtnrd-2 {
  background-color: rgba(202, 233, 255, 0.62);
  height: 6vh;
  border-radius: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.custom-radio {
  display: flex;
  align-items: center;
  gap: 1vh;
}

.custom-radio input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.2vh;
  height: 2.2vh;
  background-color: #396481;
  border: 2px solid #396481;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.custom-radio input[type='radio']:checked {
  background-color: white;
}

.radio-btnmi {
  font-size: 1.8vh;
  font-weight: bold;
  color: #1b4965;
  line-height: 6vh;
}

/* Botão */
.confirmbutton {
  position: absolute;
  bottom: 3.5vh;
  right: 3vh;
}

.custom-button {
  background-color: #1b4965;
  color: white;
  border: none;
  padding: 1.5vh 4vh;
  border-radius: 8vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 2vh;
}

.custom-button:hover {
  background-color: #0d3a5a;
}

/* Ajustes para campos específicos */
.campo-form-right {
  margin-bottom: 2vh;
}

.campo-form-right input {
  width: 100%;
}

.moreright {
  display: flex;
  flex-direction: column;
}

.campo-formtempoh {
  margin-top: 2vh;
  position: relative;
}

/* Datalist */
datalist {
  font-family: 'Montserrat', sans-serif;
}

/* Responsividade básica */
@media (max-width: 1200px) {
  .quadradodetras, .quadradodafrente {
    width: 95vw;
    height: auto;
    min-height: 80vh;
  }
  
  .fieldset-cadastro, .fieldset-moradia, .fieldset-liberação, .fieldset-horario {
    position: static;
    width: 100%;
    margin-bottom: 3vh;
  }
  
  .confirmbutton {
    position: static;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
  }
}