@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --azulClaro: #cae9ff;
  --azulEscuro: #184965;
  --azulClaro2: #396481;
  --azulEscuro2: #11334a;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--azulClaro);
  height: 100vh;
  width: 100vw;
  font-family: "montserrat", sans-serif;
  overflow: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.8) transparent;
  font-size: 0.9rem;
}

/* Para navegadores WebKit */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 1);
}



span {
  all: unset;
  display: inline;
  height: fit-content;
  width: fit-content;
}

.container {
  background-color: var(--azulEscuro);
  margin: auto;
  height: 90vh;
  width: 60%;
  border-radius: 12px;
  padding: 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;

  color: white;
}

.header-container {
  height: 8%;

  max-height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5625rem;
  border-right: 2px solid #396481;
  border-top: 2px solid #396481;
  border-left: 2px solid #396481;
  border-radius: 1rem 1rem 0 0;
  flex-flow: row wrap;
  box-sizing: border-box;
  flex: 2 0 auto;
}

.header-container > img {
  width: 22.4px;
}

.body-container {
  height: 100%;
  overflow: auto;
  border: 2px solid #396481;

  border-radius: 0 0 1rem 1rem;
  padding: 1rem;

  display: flex;
  flex-flow: column wrap;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.3rem;
}

.header {
  max-height: 50px;

  width: 100%;
  background-color: var(--azulClaro2);

  border-radius: 1rem 1rem 0 0;
}

.junto {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.junto > img {
  height: 22px;
  width: 22px;
  line-height: 1; /* evita espaçamentos extras */
  object-fit: contain; /* evita distorção */
}

.junto > span {
  height: auto;
  font-size: 1rem;
  white-space: nowrap; /* evita quebra de linha */
}

.Infos {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: var(--azulClaro2);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;

  box-sizing: border-box;
}

.RightAndLeft {
  width: 100%;
  height: 85%;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.bottom {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  display: flex;
}

.bottom button {
  height: 60%;
  width: 15%;

  border-radius: 1rem;

  cursor: pointer;
}

.bottom button:first-child {
  background-color: transparent;
  color: #ffffff;
  border: 2px #a11111 solid;

  transition: transform 0.2s ease-in-out, background-color 0.1s ease-in;
}

.bottom button:first-child:hover {
  transform: scale(1.01) translateY(-1px);

  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.103);

  background-color: #a11111;
}

.bottom button:nth-child(2) {
  background-color: #487ea3;
  color: #ffffff;
  border: none;
  transition: all 0.2s ease-in-out;
}

.bottom button:nth-child(2):hover {
  transform: scale(1.01) translateY(-1px);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.103);
}

.right {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr; /* divide em 2 blocos iguais */
  gap: 0.5rem;
}

.div-familia,
.div-automovel {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  height: 100%; /* grid já controla a divisão */
}

.header-familia,
.header-automovel {
  width: 100%;
  background-color: var(--azulClaro2);
  border-radius: 1rem 1rem 0 0;
}

.body-familia,
.body-automovel {
  width: 100%;
  background-color: var(--azulClaro2);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  border-radius: 0 0 1rem 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border-bottom: 5px solid #396481;
}

.header,
.header-familia,
.header-automovel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  min-height: 50px;
}

.Infos > div {
  background-color: var(--azulEscuro);
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  border: 2px #11334a solid;

  gap: 0.2rem;

  cursor: pointer;
}

.Infos > div > label {
  font-weight: 200;
}
.Infos > div > span {
  font-weight: 700;
}

.body-familia > div {
  background-color: var(--azulEscuro);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 0.5rem;
  border: 2px #11334a solid;

  cursor: pointer;

  box-sizing: border-box;
  height: auto;
  width: 100%;
  flex: 0 0 auto;
}

.body-familia > div > label {
  font-weight: 600;
}
.body-familia > div > span {
  font-weight: 300;
}

.body-automovel > div {
  background-color: var(--azulEscuro);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 0.5rem;

  border: 2px #11334a solid;
  cursor: pointer;

  height: auto;

  flex: 0 0 auto;
}

.body-automovel > div > label {
  font-weight: 600;
}
.body-automovel > div > span {
  font-weight: 300;
}

.body-automovel > div,
.body-familia > div,
.Infos > div {
  transition: transform 0.1s ease-in-out;
}

.body-automovel > div:hover,
.body-familia > div:hover,
.Infos > div:hover {
  transform: scale(1.01) translateY(-2px);
}
