/*Navbar*/

.topico {
  display: flex;
  align-items: center;
  background-color: var(--var-azulescuroprofundo);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  padding: 2vh;
  border-radius: 1vh;
  z-index: 1000;
}

.topico span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--var-fonttop);
  font-weight: 600;
  font-size: 4vh;
  color: white;
}

.topico svg {
  color: white;
  width: 70px;
  height: auto;
  margin-left: 3vh;
  border: 2px solid #0d354d;
  border-radius: var(--border-radius);
  padding: 10px;
  cursor: pointer;
}

.navbarmenu {
  position: absolute;
  top: 110%;
  left: 20px;
  width: 275px;
  background-color: #184965;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-out;
  max-height: 70vh;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.navbarmenu.ativa {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 12px 20px;
  color: #0d354d;
  text-decoration: none;
  transition: var(--transition);
  gap: 4px;
}

.nav-item:hover {
  background-color: rgba(13, 52, 77, 0.46);
}

.nav-item.active {
  background-color: #0d354d;
  color: #396481;
  font-weight: bold;
  border-radius: 5px;
}

.itenvey {
  color: #fff;
  font-size: 0.9rem;
}
