@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Hammersmith+One&family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=VT323&display=swap");
/* Fonte global */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(135deg, #184965, #396481);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container principal */
.login-container {
  display: flex;
  width: 850px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Lado esquerdo */
.left-side {
  flex: 1;
  background: linear-gradient(135deg, #184965, #396481);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cae9ff;
}
.left-side h1 {
  font-size: 2.2rem;
  font-weight: 700;
}

/* Lado direito (formulário) */
.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

form {
  width: 100%;
  max-width: 320px;
}

form h2 {
  margin-bottom: 10px;
  color: #11334a;
  font-weight: 700;
}

form p {
  margin-bottom: 20px;
  color: #444;
}

.input-group {
  margin-bottom: 15px;
  width: 100%;
}

input {
  width: 100%;
  padding: 12px;
  border: 2px solid #11334a;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s;
  font-size: 0.95rem;
  box-sizing: border-box;
}

input:focus {
  border-color: #396481;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #396481, #184965);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #184965, #396481);
  transform: scale(1.02);
}

/* Mensagem de erro */
.error-msg {
  margin-top: 15px;
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo span {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 800;
  font-size: 2rem;
}

.logo img {
  width: 100%;
  height: auto;
}

/* Responsividade */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  .left-side {
    padding: 30px;
  }

  .right-side {
    padding: 20px;
  }
}

@media (max-width: 403px) {
  .input-group input {
    width: 92%;
  }
}
