body {
  margin: 0;
  height: 100vh;
  color: white;
  background-image: url(../Img/fundo.png);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: auto;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.left, .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  width: 580px;
  height: auto;
  background-color: rgba(27, 73, 101, 0.61);
  border-radius: 70px;
  border: 3px dashed #153345;
  padding: 20px;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column; /* Garante que os itens serão organizados verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center;
  gap: 20px; /* Espaçamento entre os elementos */
}
fieldset > * {
  transform: scale(0.9);
  margin-top: 10px; /* Adiciona espaçamento entre os elementos internos */
}


.logoresi img {
  width: 250px;
  height: auto;
}

.userlog img {
  width: 135px;
  height: auto;
}

h1 {
  font: normal 40px Verdana;
}

img {
  height: 100px;
  width: 85px;
}

input {
  padding: 30px;
  color: black;
  background-color: #5ab0f0;
  border-radius: 55px;
  font-size: 25px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  width: 75%;
  height: 5px;
}

input::placeholder {
  color: black;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  padding-left: 25px;
}

input:focus::placeholder {
  color: transparent;
}



a#password {
  margin-top: 20px; /* Ajuste a margem superior do link */
}

/*buttonrsrsrsrs*/
button {
  padding: 20px 70px;
  color: rgb(0, 0, 0); /* Cor do texto */
  background-color: #5ab1f1; /* Cor de fundo original */
  border-radius: 50px;
  font-size: 32px;
  border: solid 3px; /* Borda original */
  cursor: pointer;
  transform: scale(0.7);
  transition: all 0.3s ease-in-out; /* Adiciona transição suave */
  font-family: 'Montserrat', sans-serif; /* Garante a consistência da fonte */
}

/* Adicionando efeito de gradiente e sombra para manter a animação sem alterar a cor */
button:hover {
  transform: translateY(3px); /* Efeito ao passar o mouse */
  box-shadow: none; /* Remove sombra no hover */
}

button:active {
  opacity: 0.5; /* Torna o botão parcialmente transparente quando pressionado */
}

/* Mantendo o estilo da borda e cor original */
button {
  background-color: #5ab1f1; /* Cor de fundo original */
  border: solid 3px; /* Borda original */
  color: rgb(0, 0, 0); /* Cor do texto */
}

/*arrumar o botao depois*/