/* Overlay de blur */
.blurOverlay {
  position: fixed;
  top: 12%;
  left: 0;
  width: 100%;
  height: 88%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.blurOverlay.ativo {
  opacity: 1;
  pointer-events: auto;
}

/* Container do formulário */
.container1 {
  height: 85vh !important;
  min-height: 0;
  width: 55% !important;
  overflow: auto;
}

/* Layout principal */
.form-wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  width: 100%;
}

/* Lados esquerdo e direito */
.top {
  padding: 0 1rem 0 1rem;
}

.bottom {
  padding: 0 1rem 1rem 1rem;
}

/* Fieldsets */
fieldset {
  border: 2px solid;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  font-weight: 700;
  font-size: 1.1rem;
}

/* Cada div que “veda” um label e input */
.campo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; /* gap pequeno entre label e input */
  margin-bottom: 1rem; /* gap maior entre divs de campos */
}

.campo-duplo {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.campo-duplo div {
  width: calc(50% - 0.8rem);
}

/* Inputs e selects */
input,
select {
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid;
  font-size: 1rem;
  outline: none;
}

/* Labels */
label {
  font-weight: 500;
}

#ifMorador,
#ifNaoMorador,
#dados-aluguel {
  display: none;
}

#cadastrar-btn {
  display: none;
}

.botao-template {
  height: fit-content;
  background-color: #184965;
  border: 2px solid #11334a;

  font-weight: 600;
  transition: var(--transition);
  display: flex;
  justify-content: center;

  width: 3vh;
  border-radius: 0.6rem;
  padding: 0.4rem 1rem;
  color: white;
  cursor: pointer;

  gap: 0.5rem;

  margin-top: 1rem;
}

.botao-template-div {
  width: 100%;
  display: flex;
  justify-content: right;
}
.botao-template-div > button:hover {
  transform: scale(1.01);
}

.botao-template-div > button:active {
  transform: scale(0.95);
}
.dados-aluguel {
  margin-bottom: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .form-wrapper {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0;
  }

  .left {
    border-radius: 3vh 3vh 0 0;
  }

  .right {
    border-radius: 0 0 3vh 3vh;
  }

  .campo-duplo {
    flex-direction: column;
  }

  .campo-duplo div {
    width: 100%;
  }
}
