::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 3px;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.288) transparent;
  font-size: 0.9rem; /* tamanho global */
}

.form-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

.container1 {
  position: relative !important;
  width: 85vw !important;
}

.blurOverlay {
  position: fixed;
  top: 12%;
  left: 0;
  width: 100%;
  height: 88%;
  backdrop-filter: blur(3px);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.blurOverlay.ativo {
  opacity: 1;
  pointer-events: auto;
}
.left,
.right,
.center {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: #396481;
  font-weight: bold;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-sizing: border-box;
  flex-direction: column;
}

.left {
  border-radius: 3vh 0 0 3vh;
  justify-content: center;
  height: 100%;
}

.right {
  justify-content: space-between;
  border-radius: 0 3vh 3vh 0;
  overflow-y: auto;
  height: 100%;
}

.blocoapartamento {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.blocoapartamento > div input {
  width: calc(100% - 1rem);
}

.registromoradorprincipal {
  overflow: auto;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.registrar-automovel-morador {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.containeradicional {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 0.4s ease, opacity 0.4s ease;
}

.containeradicional .inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.containeradicional input,
.containeradicional label {
  max-width: 100%;
  word-break: break-word;
}

.containeradicional.ativo {
  max-height: 200px;
  overflow-y: auto;
  opacity: 1;
  visibility: visible;
  height: auto;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
  cursor: pointer;
  transition: var(--transition);
  padding: 8px 12px;
  border-radius: var(--border-radius);
}

.radio-item:hover {
  background-color: var(--var-textocor);
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  accent-color: var(--var-azulescuroprofundo);
  cursor: pointer;
}

.radio-item label {
  cursor: pointer;
  margin-bottom: 0;
}

.radiobuttonpets {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.registrarfamilia {
  background-color: var(--var-azulescuroprofundo);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
}

.registrarfamilia:hover {
  background-color: #184965;
  color: white;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 0.25rem 0.15rem rgb(0 0 0 / 6.4%);
}

.registrarfamilia:active {
  background-color: var(--var-blue);
}

.botaoregistrodiv {
  margin-left: auto;
}

.botaoregistro {
  width: auto;
  height: auto;
  background-color: #396481;
  color: white;
  border: 3px solid var(--var-azulescuroprofundo);
  border-radius: var(--border-radius);
  padding: 0;
  font-weight: 500;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.botaoregistro:hover {
  background-color: #184965;
  color: white;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 0.25rem 0.15rem rgb(0 0 0 / 6.4%);
}

.botaoregistro:active {
  background-color: var(--var-blue);
}

.infosadicionais {
  height: auto;
  width: auto;
}

.infosadicionais .radio-group {
  display: flex;
  justify-content: space-evenly;
}

.infosadicionais .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-bottom: 0.2rem;
}

#tempodepermanenciadiv {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.4s ease, opacity 0.4s ease;
}

.ativaa {
  opacity: 1;
  height: 5vh;
}

.add-automovel {
  background-color: #184965;
  border: 2px solid #11334a;
  border-radius: 0.8rem;
  padding: 1rem;
  color: white;
  font-family: "montserrat", sans-serif;
  width: 100%;
  height: auto;
}
.add-automovel:hover {
  background-color: #184965;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 2px 8px rgb(0 0 0 / 11.1%);
  transform: scale(1.01);
}

.add-automovel:active {
  background-color: #396481;
}

.automovel-hover {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  padding: 0.5rem 1rem;
  background-color: #396481;
  border: 1px solid #184965;
  border-radius: 1rem;
  width: fit-content;
  color: white;
  text-align: center;
  z-index: 9999999;
  box-shadow: 0 2px 8px rgb(0 0 0 / 11.1%);
  transition: var(--transition);
}

.automovel-hover-ativo {
  display: block;
}

.adicione-o-automovel {
  background: #184965;
  border: 2px solid #11334a;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
}

.adicione-o-automovel span:first-child {
  font-weight: bold;
  width: fit-content;
  height: fit-content;
}

.adicione-o-automovel span:nth-child(2) {
  height: fit-content;
  width: fit-content;
}

.txt {
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  gap: 0.5rem;
  flex: 3 1 auto;
}

.fieldset-hover {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-flow: wrap column;
}

.adicione-o-automovel img {
  background: #a11111;
  border-radius: 1rem;
  border: none;
  flex: 1 1 auto;
}

.historico-automoveis {
  position: absolute;
  top: 50.5%;
  width: 25vw;
  height: auto;
  background: #396481;
  border: 0.5px solid #184965;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  left: 55%;
  transform: translate(-50%, -50%);
}

.automovel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carro-historico,
.moto-historico {
  height: 8.3vh;
  background: #184965;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white;
  padding: 1rem;
}

.veiculos-historico-tittle {
  font-weight: bold;
}

.input-novo {
  width: 50%;
}

.div-para-input {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.button-novo {
  width: 40px;
  height: 40px;
  border-radius: 12.6px;
  background-image: url("/images/trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  background-color: #a11111;
}

.automovel-hover fieldset {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.botao-submit-cancelar {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.botao-submit-cancelar button:first-child {
  color: white;
  background-color: #a11111;
  border: 2px solid #780000;
  padding: 1rem;
  border-radius: 0.8rem;
  width: 30%;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.botao-submit-cancelar button:nth-child(2) {
  color: white;
  background-color: #184965;
  border: #11334a 2px solid;
  padding: 1rem;
  border-radius: 0.8rem;
  width: 30%;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.botao-submit-cancelar button:hover {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.ajeitadores-input {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: start;
  flex-flow: column wrap;
  gap: 0.5rem;
}

#botao-placa {
  background-color: #396481;
  border: 3px solid #184965;
  border-radius: 0.8rem;
  padding: 1rem;
  color: white;
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  width: 100%;
  height: auto;
}

#botao-placa:hover {
  background-color: #184965;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 2px 8px rgb(0 0 0 / 11.1%);
  transform: scale(1.01);
}

.input-placa {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.voltar-automovel-hover {
  background-color: #a11111;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.voltar-div-btn {
  width: 100%;
  display: flex;
  justify-content: right;
}

.voltar-automovel-hover:hover {
  transform: scale(1.05);
}

.div-check-automovel {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  height: auto;
  width: auto;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.checkBoxautomovel {
  padding: 1rem;
  cursor: pointer;
}

.div-check-automovel label {
  font-size: 0.9375rem !important;
}

.div-check-automovel:hover {
  background-color: #184965;
  transition: var(--transition);
}

.checkbox-reunidos {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "carro moto"
    "bicicleta outros";
  row-gap: 1rem;
  column-gap: 1rem;
}

.carro {
  grid-area: carro;
}

.moto {
  grid-area: moto;
}

.bicicleta {
  grid-area: bicicleta;
}

.outros {
  grid-area: outros;
}

.carro,
.moto,
.bicicleta,
.outros {
  width: auto;
  height: auto;
  padding: 1rem;
  background-color: #184965;
  border: 2px solid #11334a;
  border-radius: 0.8rem;
}

.carro:hover,
.moto:hover,
.bicicleta:hover,
.outros:hover {
  background-color: #184965;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.058);
  transform: scale(1.02);
  transition: all 0.3s ease;
  cursor: pointer;
}

.automoveis-registrados {
  display: flex;
  flex-direction: column;
  height: auto;

  flex: 1 1 200px;
  gap: 1rem;
  padding: 0.8rem;
  background-color: #184965;
  border-radius: 12.6px;
  overflow-y: auto;
}

.automoveis-registrados::-webkit-scrollbar {
  width: 5px;
  background: #0f2f4178;
  border-radius: 8px;
}

.automoveis-registrados::-webkit-scrollbar-thumb {
  background: #11334a;
  border-radius: 8px;
}

.automoveis-registrados::-webkit-scrollbar-thumb:hover {
  background: #11334a;
}

.input-para-contrato-div {
  height: 0;
  position: absolute;
  flex: 1 1 auto;
  transition: position 0s opacity 0s ease;
  display: none;
}

.input-para-contrato-div input,
.input-para-contrato-div label {
  height: 0;
  opacity: 0;
}

.input-para-contrato-div-ativo input,
.input-para-contrato-div-ativo label {
  height: auto;
  opacity: 1;
}

.input-para-contrato-div-ativo {
  height: fit-content;
  opacity: 1;
  position: static;
  display: block;
}

.adicionar-placa {
  height: auto;
  width: 100%;

  flex: 0 0 auto;
}

.div-retangulo-automovel {
  display: flex;
  flex-direction: column;
  background-color: #184965;
  border: #11334a 2px solid;
  border-radius: 12.6px;
  height: auto;
  width: 100%;
  padding: 1rem;
  gap: 0.5rem;
}

.div-retangulo-automovel span {
  height: 21.6px;
  width: auto;
  color: white;
}

.div-retangulo-automovel img {
  width: 21.6px;
  height: 21.6px;
}

.image {
  height: 25.6px;
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.title {
  font-weight: normal;
}

.div-retangulo-automovel:hover {
  transform: scale(1.01);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.058);
  cursor: pointer;
  transition: var(--transition);
}

.tipo-morador {
  display: flex;
  flex-direction: column;

  height: fit-content;
  gap: 1rem;
}

.proprietario-inquilino {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 auto;
}

.botoes-radio-tipo {
  background-color: #184965;
  border: 2px solid #11334a;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
  cursor: pointer;
  transition: var(--transition);
  padding: 8px 12px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.058);
}

.botoes-radio-tipo:hover {
  background-color: #11334a;
  transform: scale(1.01);
}

.botoes-radio-tipo label {
  width: 100%;
  cursor: pointer;
}




.botao-detalhes {
  display: flex;
  justify-content: center;
  align-items: center;
gap: 0.4rem;
  height: auto;
  flex: 0 0 150px;
  flex-flow: row wrap;
}
.botao-detalhes button {
  width: calc(50% - 0.4rem);
  height: auto;
  padding: 1rem;

  background-color: #184965;
  border: 2px solid #11334a;
  border-radius: 16px;
cursor: pointer;
  color: white;
  font-weight: 600;
  transition: var(--transition);
}

.botao-detalhes button:hover {
  transform: scale(1.01);
  background-color: #11334a;
  cursor: pointer;
}
.botao-detalhes button:active {
  transform: scale(0.95);
  background-color: #184965;
}


#btn-concluir-cadastro a {
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
}



@media (max-width: 1238px) {
  .registromoradorprincipal {
    max-height: 500px;
    overflow-y: auto;
  }

  .containeradicional.ativo {
    max-height: 150px;
    overflow-y: auto;
    height: auto;
  }

  .containeradicional .inner {
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
