.left,
.right {
  display: flex;
  padding: 1rem;
  width: 50%;
  height: 100%;
  background-color: #396481; /* cinza mais claro */
  font-size: 1.5rem;
  font-weight: bold;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-sizing: border-box;
  flex-direction: column;
}

.left {
  border-radius: 3vh 0 0 3vh;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
}

.right {
  justify-content: space-between;
  border-radius: 0 3vh 3vh 0;
  overflow-y: auto;
  height: 100%;
}

.blocoapartamento {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.registromoradorprincipal {
  flex: 1 1 auto;
}

.registromoradorprincipal .input-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.containeradicional {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 0.4s ease, opacity 0.4s ease;
}

.containeradicional .inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.containeradicional input,
.containeradicional label {
  max-width: 100%;
  word-break: break-word; /* quebra texto longo */
}

.containeradicional.ativo {
  max-height: 200px; /* altura máxima controlada */
  overflow-y: auto; /* scrolla se o conteúdo for maior */
  opacity: 1;
  visibility: visible;
  height: auto;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
  cursor: pointer;
  transition: var(--transition);
  padding: 8px 12px;
  border-radius: var(--border-radius);
}

.radio-item:hover {
  background-color: var(--var-textocor);
}

.radio-item input[type="radio"] {
  width: 18px;
  height: 18px;
  accent-color: var(--var-azulescuroprofundo);
  cursor: pointer;
}

.radio-item label {
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 0;
}

.radiobuttonpets {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.registrarfamilia {
  background-color: var(--var-azulescuroprofundo);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  font-size: 15px;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
}

.registrarfamilia:hover {
  background-color: #184965;
  color: white;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 0.25rem 0.15rem rgb(0 0 0 / 6.4%);
}

.registrarfamilia:active {
  background-color: var(--var-blue);
}

.botaoregistrodiv {
  margin-left: auto;
}

.botaoregistro {
  width: auto; /* make button fill the container */
  height: auto; /* make button fill the container */
  background-color: #396481;
  color: white;
  border: 3px solid var(--var-azulescuroprofundo);
  border-radius: var(--border-radius);
  font-size: 15px;
  padding: 0; /* remove padding to fit container */
  font-weight: 500;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.botaoregistro:hover {
  background-color: #184965;
  color: white;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 0.25rem 0.15rem rgb(0 0 0 / 6.4%);
}

.botaoregistro:active {
  background-color: var(--var-blue);
}

.infosadicionais {
  height: auto;
  width: auto;
}

.infosadicionais .radio-group {
  display: flex;
  justify-content: space-evenly;
}

.infosadicionais .input-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-bottom: 0.2rem;
}

#tempodepermanenciadiv {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.4s ease, opacity 0.4s ease;
}

#tempodepermanenciadiv.ativaa {
  opacity: 1;
  height: auto;
}

.add-automovel {
  background-color: #396481;
  border: 3px solid #184965;
  border-radius: 0.8rem;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  font-family: "montserrat", sans-serif;

  width: 100%;
  height: auto;
}
.add-automovel:hover {
  background-color: #184965;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 2px 8px rgb(0 0 0 / 11.1%);
  transform: scale(1.01);
}

.add-automovel:active {
  background-color: #396481;
}

/*automovel-hover*/
.container1 {
  position: relative; /* garante que o filho absoluto use ela como referência */
}

.automovel-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 20vw;
  height: auto;
  padding: 0.5rem 1rem;

  background-color: #396481;
  border: 1px solid #184965;
  border-radius: 1rem;

  color: white;
  font-size: 1.2rem;
  text-align: center;
  z-index: 9999;
  box-shadow: 0 2px 8px rgb(0 0 0 / 11.1%);
}

.fieldset-hover {
  height: 100%;
}

.automovel-hover fieldset {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

#botao-placa {
  background-color: #396481;
  border: 3px solid #184965;
  border-radius: 0.8rem;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  font-family: "montserrat", sans-serif;
  font-weight: bold;

  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  height: auto;
}

#botao-placa:hover {
  background-color: #184965;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 2px 8px rgb(0 0 0 / 11.1%);
  transform: scale(1.01);
}

.input-placa {
  display: flex;
  flex-direction: column;

  gap: 0.3rem;
}
/*botao*/
.voltar-automovel-hover {
  background-color: #a11111;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.voltar-div-btn {
  width: 100%;
  display: flex;
  justify-content: right;
}

.voltar-automovel-hover:hover {
  transform: scale(1.05);
}

.div-check-automovel {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  height: auto;
  width: auto;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.checkBoxautomovel {
  padding: 1rem;
  cursor: pointer;
}

.div-check-automovel label {
  font-size: 0.9375rem !important;
}

.div-check-automovel:hover {
  background-color: #184965;
  transition: var(--transition);
}

.checkbox-reunidos {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "carro moto"
    "bicicleta outros";
  row-gap: 1rem;
  column-gap: 1rem;
}

.carro {
  grid-area: carro;
}

.moto {
  grid-area: moto;
}

.bicicleta {
  grid-area: bicicleta;
}

.outros {
  grid-area: outros;
}

.carro,
.moto,
.bicicleta,
.outros {
  width: auto;
  height: auto;
  padding: 1rem;
  background-color: #396481;
  border: 3px solid #184965;
  border-radius: 0.8rem;
}

.carro:hover,
.moto:hover,
.bicicleta:hover,
.outros:hover {
  background-color: #184965;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.058);
  transform: scale(1.02);
  transition: all 0.3s ease;
  cursor: pointer;
}

.carro,
.moto,
.bicicleta,
.outros span {
  font-size: 16px;
}

@media (max-width: 1238px) {
  .registromoradorprincipal {
    max-height: 500px; /* limite de altura visível */
    overflow-y: auto; /* cria a rolagem vertical */
  }

  .containeradicional.ativo {
    max-height: 150px; /* controla até onde o extra cresce */
    overflow-y: auto; /* rola dentro dele */
    height: auto; /* deixa altura automática até o limite */
  }

  .containeradicional .inner {
    flex-wrap: wrap; /* quebra o conteúdo se precisar */
    align-items: flex-start; /* evita centralização que aumenta altura */
  }
}
