.left,
.right {
  display: flex;
  padding: 1rem;
  width: 50%;
  height: 100%;
  background-color: #396481; /* cinza mais claro */
  font-size: 1.5rem;
  font-weight: bold;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-sizing: border-box;
  flex-direction: column;
}

.left {
  border-radius: 1rem 0 0 1rem;
  gap: 1rem;
}

.right {
  gap: 0.5rem;
  border-radius: 0 1rem 1rem 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 2rem;
}
.cadastrodados {
  flex: 1 1 auto;
}

.dadosAluguel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.cadastromoradia {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* RIGHT */
.registroaluguel {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  flex: 1 1 auto;
}

.cadastrodados .ajeitador {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* RIGHT 2nd */

/* rdbtn */
.cadastroautomovelradiobutton {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.registrotipoaluguel {
  flex: 0 1 auto;
}

.radioregistroAluguel {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.radio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 0.6rem;
}

.radio-item:hover {
  background-color: var(--var-textocor);
}

input[type="radio"] {
  width: 18px;
  height: 18px;
  accent-color: var(--var-azulescuroprofundo);
  cursor: pointer;
}

.radio-item label {
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 0;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;
  user-select: none;
}

.botaoregistrodiv {
  width: 100%;
  height: auto;
  display: flex; /* importante para alinhar com margin-left: auto */
}

.botaoregistro {
  background-color: #396481;
  color: white;
  border: 3px solid var(--var-azulescuroprofundo);
  border-radius: var(--border-radius);
  font-size: 15px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin-left: auto; /* isso alinha o botão à direita */
  flex: 1 1 auto;
}

.botaoregistro:hover {
  background-color: #184965;
  color: white;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 0.25rem 0.15rem rgb(0 0 0 / 6.4%);
}

.botaoregistro:active {
  background-color: var(--var-blue);
}

/* RIGHT 3nd */
.registrodataehora {
  height: auto;
}

.registrodataehora .ajeitador {
  flex: 1 1 auto;
}

.inputs {
  width: 100%;
  height: auto;
  display: flex;
  gap: 0.5rem;

  flex-wrap: wrap;
}

#outraopcao,
#outroopcao {
  padding: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

#outraopcao.visivel,
#outroopcao.visivel {
  padding: 1rem;
  opacity: 1;
  max-height: 25vh; /* pode ajustar conforme o tamanho desejado */
}

@media (width <= 768px) {
  .left,
  .right {
    width: 100% !important;
    padding: 0.5rem !important;
    border-radius: 0 !important;
  }

  .left {
    border-radius: 3vh 3vh 0 0 !important;
  }

  .right {
    border-radius: 0 0 3vh 3vh !important;
  }

  .input-group {
    height: auto !important;
  }

  .cadastrodados .ajeitador {
    gap: 0.25rem !important;
  }

  .blocoapartamento {
    flex-direction: column !important;
    padding: 0.5rem !important;
  }

  .inputs input {
    width: 100% !important;
    margin-bottom: 0.5rem !important;
  }

  .botaoregistrodiv {
    position: static !important;
    margin: 1rem auto !important;
    width: 100% !important;
    text-align: center !important;
  }

  .botaoregistro {
    width: 100% !important;
    padding: 10px !important;
    font-size: 1rem !important;
  }
}
