body {
    font-family: Arial, sans-serif;
    background-color: #cae9ff;
    text-align: center;
    margin: 0;
}

h1 {
    padding: 60px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: #396481;
    top: 0;
    width: 100%;
    font-size: 20px;
    font-family: Verdana;
  }
  
  li {
    float: left;
    display: inline;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(160, 191, 231);
  }
  
  .active {
    background-color: #3986ba;
  }
/* Navbar */