<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card Conclusão</title>
    <!-- Aqui o CSS -->
    <link rel="stylesheet" href="/css/cardConclusao.css" />
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>
  <body>
    <!-- Copie daqui -->

    <div class="main-modal-class">
      <div class="icone">
        <div>
          <i data-lucide=""></i>
        </div>
      </div>
    </div>

    <!-- Até aqui -->
  </body>

  <script>
    lucide.createIcons();
  </script>
</html>
