<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>

    <!-- Ícones Flaticon -->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css"
    />

    <!-- Ícones Lucide -->
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>

  <body>
    <header class="topico">
      <span id="titulo-span">ResidentGuard</span>

      <!-- Botão de menu -->
      <svg
        id="botaoicone"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        stroke="currentColor"
      >
        <path
          d="M4 6H20M4 12H14M4 18H9"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <!-- Menu dropdown -->
      <div class="navbarmenu" id="navbarmenu">
        <div class="itensnavbar">
          <a href="Adm.html" class="nav-item">
            <i class="fi fi-sr-administrator-alt"></i>
            <h3 class="itenvey">Adm</h3>
          </a>

          <a href="RegistroM.html" class="nav-item">
            <i class="fi fi-sr-user-pen"></i>
            <h3 class="itenvey">Registro Moradores</h3>
          </a>

          <a href="RegistroV.html" class="nav-item">
            <i class="fi fi-sr-user-pen"></i>
            <h3 class="itenvey">Registro Visitantes</h3>
          </a>

          <a href="RegistroEN.html" class="nav-item">
            <i class="fi fi-sr-gifts"></i>
            <h3 class="itenvey">Registro Encomendas</h3>
          </a>

          <a href="RegistroE.html" class="nav-item">
            <i class="fi fi-sr-calendar-star"></i>
            <h3 class="itenvey">Registro Eventos</h3>
          </a>

          <a href="Consulta.html" class="nav-item">
            <i class="fi fi-sr-search-alt"></i>
            <h3 class="itenvey">Consulta</h3>
          </a>

          <!-- Ícone Lucide -->
          <a href="/index.html" class="nav-item">
            <i data-lucide="log-out"></i>
            <h3 class="itenvey">Sair</h3>
          </a>
        </div>
      </div>
    </header>

    <!-- Fundo borrado -->
    <div id="blurOverlay"></div>
  </body>
</html>
