<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>

    <!-- Ícones Flaticon -->
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css"
    />
  </head>

  <body>
    <header class="topico">
      <span id="titulo-span"></span>

      <!-- Botão de menu -->
      <div class="MenuDropDown" id="botaoicone">
        <i data-lucide="logs" id="icone-menu"></i>
        <span>Menu</span>
      </div>

      <!-- Menu dropdown -->
      <div class="navbarmenu" id="navbarmenu">
        <div class="itensnavbar">
          <a href="Adm.html" class="nav-item">
            <i data-lucide="shield"></i>
            <h3 class="itenvey">Adm</h3>
          </a>

          <a href="RegistroM.html" class="nav-item">
            <i data-lucide="user-pen"></i>
            <h3 class="itenvey">Registro Moradores</h3>
          </a>

          <a href="RegistroV.html" class="nav-item">
            <i data-lucide="user-pen"></i>
            <h3 class="itenvey">Registro Visitantes</h3>
          </a>

          <a href="RegistroEN.html" class="nav-item">
            <i data-lucide="package"></i>
            <h3 class="itenvey">Registro Encomendas</h3>
          </a>

          <a href="RegistroE.html" class="nav-item">
            <i data-lucide="calendar"></i>
            <h3 class="itenvey">Registro Eventos</h3>
          </a>

          <a href="Consulta.html" class="nav-item">
            <i data-lucide="search"></i>
            <h3 class="itenvey">Consulta</h3>
          </a>

          <!-- Ícone Lucide -->
          <div class="sair-div">
            <a href="/index.html" class="sair">
              <i data-lucide="log-out"></i>
              <h4 class="itenvey">Sair</h4>
            </a>
          </div>
        </div>
      </div>
    </header>

    <!-- Fundo borrado -->
    <div id="blurOverlay" class="blur-overlay"></div>
  </body>
</html>
